.tictactoe_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tictactoe_game_container {
  width: 470px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tictactoe_cell_normal {
  border: 3px solid #000;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 9rem;
}

.tictactoe_cell_winner {
  background: #000;
  color: #fff;
  transition: 2s ease-in;

  border: 3px solid #000;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 9rem;
}

.tictactoe_footer {
  display: flex;
  flex-direction: column;
}

.tictactoe_footer_names {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

.tictactie_name_cell {
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.tictactoe_player_select {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.tictactoe_player_select h4 {
  font-size: 1rem;
  margin-left: 5px;
}
.tictactoe_player_select span {
  transition: 0.5s ease-in-out;
}

.tictactoe_player_select span:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.tictactoe_game_reset {
  background: #fff;
  color: #000;
  border-radius: 2px;
  margin-left: 20px;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}
