.tictactoe_container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tictactoe_game_container {
  width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tictactoe_cell_normal {
  border: 3px solid #000;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 9rem;
}

.tictactoe_cell_winner {
  background: #000;
  color: #fff;
  transition: 2s ease-in;

  border: 3px solid #000;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 9rem;
}
